In [7]:
!pip install numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.12/dist-packages (2.0.2)

#  **Task 1: Lists**

In [9]:
#Create a list of 10 Integers?
numbers = [1,2,3,4,5,6,7,8,9,10]
print('List of Ten Integers is', numbers)

#Find sum,max,min
print('Sum',sum(numbers))
print('MAX',max(numbers))
print('MIN',min(numbers))

#Add and Remove
numbers.append(20)
numbers.remove(2)
print('Updated List',numbers)

#Acending and Decending Order
print('Acending',sorted(numbers))
print('Decending',sorted(numbers, reverse =True))

List of Ten Integers is [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Sum 55
MAX 10
MIN 1
Updated List [1, 3, 4, 5, 6, 7, 8, 9, 10, 20]
Acending [1, 3, 4, 5, 6, 7, 8, 9, 10, 20]
Decending [20, 10, 9, 8, 7, 6, 5, 4, 3, 1]

# **Task 2: Tuples**

In [14]:
# Create a tuple of 5 Strings
fruits = ('apple','Banana','cherry','mango','grape')
print('Second element', fruits[1])
print('Last one', fruits[-1])

# convert tuple into list
fruits_list = list(fruits)
fruits_list[2] = 'orange'
print('Modified', fruits_list)

Second element Banana
Last one grape
Modified ['apple', 'Banana', 'orange', 'mango', 'grape']

# **Task 3: Sets**

In [15]:
#two set with unique elements

set_a = {1,2,3,4,5}
set_b = {4,5,6,7,8}

# uniion and intersection

print('union', set_a | set_b)
print('Intersection', set_a & set_b)
print('Differnce', set_a - set_b)

union {1, 2, 3, 4, 5, 6, 7, 8}
Intersection {4, 5}
Differnce {1, 2, 3}

# **Task 4: Dictionaries**

In [16]:
# creta 5 unique Keys
students = {'Ali': 85,'Salman':90,'Rehman':30,'Yawar':40}

print('Keys', students.keys())
print('Values', students.values())

Keys dict_keys(['Ali', 'Salman', 'Rehman', 'Yawar'])
Values dict_values([85, 90, 30, 40])

# **Task 5: Numpay**

# **Task 6: Matplotlib**